.observed {
  font-size: var(--main-fz);
  position: fixed;
  width: 34.5em;
  bottom: 178px;
  left: 50%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  color: white;
  transform: translateX(-50%);
  .info-bar {
    display: flex;
    align-items: flex-end;
  }
  .player__avatar {
    height: 8.4em;
    width: 8.4em;
    overflow: hidden;
    flex-shrink: 0;
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      background-color: black;
    }
  }
  .info-bar__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.8em;
    padding: 0.9em 0.7em;
    background-color: black;
  }
  .username-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .username {
    font-size: 48px;
  }
  .real_name {
    font-size: 34px;
    letter-spacing: 0.02em;
  }
  .tools-container {
    display: flex;
    align-items: center;
  }
  .grenade_container {
    display: flex;
    & svg {
      fill: white;
      object-fit: contain;
      height: 1.6em;
      width: 1.6em;
    }
  }

  .player-bar__status {
    height: 3.25em;
    display: flex;
    text-shadow: 0 1px 2px #000, 0 0 #000;
    background-color: black;
  }
  .health-and-armor {
    display: flex;
    flex-shrink: 0;
    width: 8.4em;
    justify-content: space-around;
  }
  .health-and-armor__info-health,
  .health-and-armor__info-armor {
    display: flex;
    align-items: center;
  }
  .health-and-armor__icon-health,
  .health-and-armor__icon-armor {
    display: flex;
    margin-right: 0.4em;
    & svg {
      fill: white;
      object-fit: contain;
      height: 1.2em;
      width: 1.2em;
    }
  }
  .health-and-armor__text-health,
  .health-and-armor__text-armor {
    font-size: 44px;
  }
  .statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 1em;
  }
  .player-kills-round {
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.4em;
    width: 1.4em;
    font-size: 0.7em;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 1px 2px #000, 0 0 #000;
    filter: drop-shadow(0 1px 2px #1d2c46);
    font-family: "TTNormsPro";
  }
  .player__KDA-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin-left: 1.1em;
    flex-shrink: 0;
  }

  .player__KDA-item {
    display: flex;
    margin-right: 2em;
  }

  .player__KDA-name {
    font-size: 40px;
    margin-right: 0.2em;
  }
  .player__KDA-value {
    font-size: 40px;
  }
  .ADR {
    display: flex;
    font-size: 40px;
  }
  .ADR__lable {
    margin-right: 1em;
  }
  .ADR__value {
    margin-right: 1em;
  }

  .ammo_counter {
    display: flex;
    font-size: 40px;
  }

  &.T .player-kills-round {
    background-color: var(--color-t);
  }
  &.CT .player-kills-round {
    background-color: var(--color-ct);
  }
}

.observed.CT .statistics {
  background-color: var(--color-ct);
}

.observed.T .statistics {
  background-color: var(--color-t);
}

.observed .armor_indicator {
  display: flex;
  width: 1.1em;
  height: 1.1em;
  fill: white;
  & svg {
    height: 100%;
    width: 100%;
  }
}

.observed .bomb_indicator {
  zoom: 9%;
  fill: white;
}

.observed .defuse_indicator {
  display: flex;
  width: 1.1em;
  height: 1.1em;
  fill: white;
  & svg {
    height: 100%;
    width: 100%;
  }
}

.ammo_icon_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 1em;
    width: 1.5em;
    height: 1.5em;
    fill: white;
    filter: drop-shadow(0px 1px 1px #1d2c46);
  }
}
