@import "fonts/montserrat.css";
@import "fonts/stratum2.css";
@import "fonts/TTNormsPro.css";
@import "fonts/Akrobat.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Akrobat'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /*background-image: url('./assets/bg.png')*/
/*background-image: url('./assets/23.png')*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'TTNormsPro', 'ProximaNova' ,  'Facundo-Black' ,  'Akrobat' ,
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
  /* zoom: 120%; */
}

:root {
  --main-fz:32px;
  --main-panel-color: #0b0b0b;
  --sub-panel-color: #0b0b0b;
  /* --white-dull: rgba(0,0,0,0.781); */
  --white-full: #fafafa;
  --white-half: hsla(0,0%,98%,0.5);
  /* --color-gray: #bfbfbf; */
  --color-moneys: #45ce72;
  /* --dev-purple: #c800ff; */
  --color-t:  #ffae00 ;
  --color-ct: #00baff;
  /* --color-bomb: #fc285b ; */
  /* --color-defuse: #00baff; */
  /* --darkCT: #00baff; */
  /* --lightCT: #00baff; */
  /* --darkT: #ffae00 ; */
  /* --lightT: #ffae00 ; */
  /* --mainCT: #00baff; */
  /* --mainT: #ffae00 ; */
  --fon: #767c89;
}



