@keyframes banpick {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
  }
}

@keyframes banpick1 {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -30%);
  }
}

.mvp {
  font-size: var(--main-fz);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 138px;
  left: 50%;
  transform: translateX(-50%);
  width: 14.4em;
  padding: 0.5em;
  padding-bottom: 0;
  color: #fff;
  background-color: var(--sub-panel-color);
  opacity: 0;
  &--show {
    opacity: 1;
    animation: banpick 3s;
  }
  &--hide {
    opacity: 0;
    animation: banpick1 1s;
  }

  &--T {
    color: var(--color-t);
  }
  &--CT {
    color: var(--color-ct);
  }
}

.mvp__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.mvp_title {
  font-size: 2em;
}

.ADR_title {
  font-size: 1.5em;
}
.damage-in-round__count,
.kills__count {
  color: #fff;
}

.mvp_avatar {
  margin: 0 -0.5em;
}

.mvp_player_info {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.mvp_player_info__team-logo {
  height: 3em;
  width: 3em;
  overflow: hidden;
}
.mvp_player_info__name {
  opacity: 0.5;
}
